<%= form_for(@enrollment) do |f| %>
    <% if @enrollment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this registration from being saved:</h2>

          <ul>
            <% @enrollment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% page = @render_state ? @render_state : @enrollment.state %>

    <%= render "enrollments/states/#{page}", form: f %>

    <% button_text = @enrollment.reviewing? ? "Register my waste exemption" : "Continue" %>

    <% unless(@enrollment.complete?) %>
        <div class="actions">
          <%= f.submit button_text, class: "button"  %>
        </div>
    <% end %>

<% end %>


