<p id="notice"><%= notice %></p>

<div class="field">
  Registration ID : <%= @enrollment.id %>
</div>

<div class="field">
  Current Step :
  <%= @enrollment.human_state_name %>
</div>

<% if(@enrollment.business_sector) %>
    <div class="field">
      Business Sector :
      <%= @enrollment.business_sector.name %>
    </div>
<% end %>

<%= link_to 'Carry On', enrollment_state_path(@enrollment.state,
                                                @enrollment) %>
